<link href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<script src="//cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/styles/atom-one-light.min.css">
<style>
body {
font-family: Microsoft YaHei,Helvetica Neue,Helvetica,Arial,sans-serif;
font-family: Microsoft YaHei,proxima-nova,Helvetica Neue,Helvetica,Arial,sans-serif;
color: #484848;
font-size: 14px;
}

/*highlight start*/
h1, h2, h3, h4 {
line-height: 40px;
}
h1, h2, h3, h4, h5, h6 {
margin: 10px 0;
font-family: inherit;
font-weight: 700;
line-height: 20px;
color: inherit;
text-rendering: optimizelegibility;
}
.h1, h1 {
font-size: 36px;
}
.h1, .h2, .h3, h1, h2, h3 {
margin-top: 20px;
margin-bottom: 10px;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
font-family: inherit;
font-weight: 500;
line-height: 1.1;
color: inherit;
}
h1 {
font-size: 2em;
margin: .67em 0;
}
/*highlight end*/
#content{font-size: 16px;}
.hljs{background: #f5f5f5;}
#content p{ line-height: 1.7;}
#content blockquote {font-size:14px;}
</style>